body {
  margin: 0;
  font-family: $primaryFont;
}
h1, h2, h3 {
  margin: 0;
}
a {
  text-decoration: none;
  transition: all .3s;
}
button {
  background-color: unset;
  border: unset;
  transition: all .3s;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: unset;
  }
}
input {
  &:focus {
    outline: unset;
  }
}
